.cardArticles {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: var(--bottle-color) solid 3px;
    border-radius: 10px;
    padding: 10px;
}

.img-card {
    transition: .5s;
}

.cardArticles:hover>div>.img-card {
    transform: scale(1.3);
}

.position-sticky {
    position: sticky;
    top: 120px;
}

.position-sticky-2 {
    position: sticky;
    top: 200px;
}

.card_index:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.8s;
}

.form-check-input:checked {
    background-color: var(--bottle-color);
    border-color: var(--light-color);
}

.color-point::-webkit-slider-thumb {
    background-color: var(--bottle-color);
}

.color-point::-webkit-slider-thumb:active {
    background-color: var(--light-color);
}

.heart {
    color: white;
    left: 15px;
    text-shadow: 2px 2px 5px #706a6a;
}

.heart:hover {
    color: red !important;
}

.btn-article {
    background-color: var(--bottle-color);
    color: white;
}

.btn-article:hover {
    background-color: var(--light-color);
    color: white;
    border: solid 1px var(--bottle-color);
    transition: 0.5s;
}

/* PAGINA ARTICOLI SHOW */
.header_article {
    margin-top: 110px;
    background-image: url(../../public/media/categorie/sfondo_articoli.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}