/* PAGINA CONTATTI */
.block_contacts {
    margin-top: 120px;
}

.bordo_contacts {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: var(--bottle-color) solid 2px;
    border-radius: 5%;
    padding: 20px;
}

.button_contacts {
    background-image: linear-gradient(45deg, var(--bottle-color), var(--light-color), var(--light-color), var(--bottle-color));
}

.button_contacts:hover {
    transition: 0.5s;
    font-size: 110%;
    font-weight: bolder;
}

.mappa {
    height: 100%;
    width: 100%;
    border: var(--bottle-color) solid 2px;
    border-radius: 5%;
}