.sfondo_bambu {
    background-image: url(../../public/media/assets/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 30vh;
    border-bottom: var(--bottle-color) 2px solid;
}

.sfondo_bambu_2 {
    background-image: url(../../public/media/assets/review2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    background: transparent;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .swiper-button-prev, .swiper-button-next {
    color: var(--bottle-color)!important;
}  */

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bottle-color, var(--light-color))!important;
}