.sfondo_bambu {
    background-image: url(../../public/media/assets/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 30vh;
    border-bottom: var(--bottle-color) 2px solid;
}

.sfondo_bambu_2 {
    background-image: url(../../public/media/assets/review2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

